<template>
  <section class="container">
    <div>
      <app-logo/>
      <h1 class="title">
        redirect
      </h1>
      <h5>
        If it can not be authenticated, it will be redirected to this page.
      </h5>
      <div class="links">
        <nuxt-link to="/page1" class="button--green">Page1 Need Auth</nuxt-link>
        <nuxt-link to="/page2" class="button--grey">Page2 No Need Auth</nuxt-link>
      </div>
    </div>
  </section>
</template>

<script>
import AppLogo from '~/components/AppLogo.vue'

export default {
  components: {
    AppLogo
  }
}
</script>

<style>
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* 1 */
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
