<template>
  <div>
    <h1>Page2</h1>
    <nuxt-link to="/">Go Top</nuxt-link><br>
    <nuxt-link to="/page1">Go page1</nuxt-link>
  </div>
</template>


<script>
export default {
  name: 'page2',
}
</script>
