<template>
  <div>
    <h1>Page1</h1>
    <nuxt-link to="/">Go Top</nuxt-link><br>
    <nuxt-link to="/page2">Go page2</nuxt-link>
  </div>
</template>


<script>
export default {
  name: 'page1',

  middleware: ['auth'],

  async asyncData ({ app }) {
    return {
      // auth middleware always fails,
      // so this will not be requested...?
      users: await app.$axios.$get('http://localhost:8000/api/users')
    }
  },
}
</script>
